
<p>Welcome to the homepage of {{ title }}...</p>

<form action="/create" method="post" action="">
    <label for="url">Enter url: </label>
    <input id="url" type="text" name="url_field" value="http://address">
    <input type="submit" value="OK">
</form>